body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
h1 {
  text-align: center;
  font: 150px arial, sans-serif;
  color: #FF5A19;
  opacity: 0.9;
  font-weight: 900;
  cursor:default;
  line-height: 30%;
}
h2 {
  text-align: center;
  font: 100px arial, sans-serif;
  color: #19ff5a;
  opacity: 0.9;
  font-weight: 600;
  cursor:default;
}
h3 {
  background-color: black;
  opacity: 0.5;
  cursor:default;
}
td {
  vertical-align: middle;
  padding-bottom: 0px
  cursor:default;
}
table {
  padding-bottom: 0px text-align: center;
  font: 20px arial, sans-serif;
  color: #FF5A19;
  cursor:default;
}
a {
  padding-bottom: 0px text-align: center;
  font: 20px arial, sans-serif;
  font-weight: 900;
  color: #FF5A19;
  text-decoration: none;
}
a:hover {
  color: hotpink;
}
a:active {
  color: #19ff5a;
}
#social_things {
  padding-bottom: 0px text-align: center;
  font: 20px arial, sans-serif;
  color: #FF5A19;
  vertical-align: middle;
  padding-bottom: 0px
}
#Dates {
  padding-bottom: 0px text-align: center;
  font: 20px arial, sans-serif;
  color: #FF5A19;
  vertical-align: top;
  padding-bottom: 0px
  align: right;
  font-weight: 900;
}
#Video {
  text-align: center;
  font: 100px arial, sans-serif;
  color: #19ff5a;
  font-weight: 600;
  cursor:default;
}
