<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body style="background-color:white;background-image:url({{ site.url }}/img/geobg.gif);background-repeat:repeat;">

  <div class="container content">
    <main>
      {{ content }}
    </main>

    <footer style="text-align:center; display:block;">
      <table cellspacing="0" cellpadding="0" border="0" style="border: 0">
        <tbody style="border: 0">
            <tr style="border: 0">
                <td style="border: 0">
                  <a href="https://royalchant.com/old" style="text-align:center; display:block;">OLD SITE</a>
                </td>
                <td style="border: 0">
                  <p style="text-align:center; display:block;"> booking / venmo / hatemail: royalchant (at) gmail (dot) com</p>
                </td>
            </tr>
        </tbody>
      </table>
    </footer>
  </div>

</body>

</html>
